aclocal.m4
autoscan-2.69.log
compile
config.log
config.status
configure
install-sh
missing
autom4te.cache
Makefile.am.user
Makefile.in
Makefile
config.guess
config.sub
ltmain.sh
src/Makefile
src/Makefile.in
src/autoscan-2.69.log
src/config.h.in
src/stamp-h1
src/Makefile.am.user
src/.deps/
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
libtool
*.o
*~
*.tar.gz
config.h
depcomp
meteodata
Doxyfile
