[Unit]
Description = Meteodata server
After = network.target network-online.target
Wants = network-online.target
Requires =

[Service]
User = meteodata
Group = meteodata
Type = notify
ExecStart = /usr/local/bin/meteodata
Restart = on-abnormal
StartLimitInterval = 60
StartLimitBurst = 10
WatchdogSec = 60
NotifyAccess = all

[Install]
WantedBy = multi-user.target
